caption {
	color: red;
}

caption::after {
	content: "#05";
	color: rgb(163, 23, 163)
}

table {
	border: 4px solid red;
}

th, tr, td {
	border: 2px solid blue;
}

thead {
	background-color: rgb(253, 195, 172);
}

td:first-child {
	background-color: aqua;
}

tr:last-child td {
	background-color: rgb(252, 135, 106);
}